<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div>
            <div>Hi ${name},</div>
            <br />
            <div>
                This is to inform you that you have now set your bracs allocation type to <b>${newAllocationType}</b>
                from <b>${previousAllocationType ? previousAllocationType : 'Default'}</b>.
            </div>

        </div>
    </body>

</html>
